*{
    margin: 0;
    font-family: sans-serif;
}

a {
    display: inline;
    height: 30% ;
}

main{
    background-color: #d3d3d3;
    padding: 2% 0 5% 0;
}

img{
    display: block;
}

footer{
    background-color: #fff;
    color: #fff;
    font-size: 0.8rem;
}

.navbar{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar > li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: #111;
}

.navbar .home{
    background-color: #50A060;
}